@use 'helpers' as *;

html{
    &.is-lock{
        overflow: hidden;
    }
}

body{

    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    color: var(--grey-60);
    background-color: var(--black-08);
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    color: var(--absolute-white);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: var(--font-family);
    font-weight: 700;
}

h1, .h1{
    @include fluid-text(58, 28);
    line-height: 1.5;
}

h2, .h2{
    @include fluid-text(38, 24);
    line-height: 1.5;
}

h3, .h3{
    @include fluid-text(24, 18);
    line-height: 1.5;
}

h4, .h4{
    @include fluid-text(26, 18);
}

h5, .h5{
    @include fluid-text(24, 18);
}

h6, .h6{
    @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}


a{
    color: var(--grey-60);

    @include hover{
        color: var(--grey-90);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--red-45);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a,
button{
    &[aria-label]{
        position: relative;

        &::before{
            @include abs-center;
            @include square(rem(44));

            content: '';
        }
    }
}