@use '../helpers' as *;

.header{
    &__body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    &__overlay{
        @include mobile-above{
            display: contents;
        }

        @include mobile{
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding: 1rem;
            background-color: var(--color-dark-10);
            transition-duration: var(--transition-duration);

            &:not(.is-active){
                @include hide;


                translate: 100%;
            }
        }
    }

    &__buttons{
        display: flex;
        column-gap: rem(30);

        @include laptop {
            column-gap: rem(14);
        }
    }


}